<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Thesis</title>
  <style>
    .center-box {
      margin: 0 auto;
      float: none;
    }
  </style>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-10">THESIS PROJECT</h1>
    </div>
  </div>

</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 offset-md-1 center-box">
        <form id="thesisForm" method="POST" action="/backend"> <!-- Updated action attribute -->
          <div class="mb-3">
            <label for="thesisTitle" class="form-label">Thesis Title</label>
            <textarea class="form-control" id="thesisTitle" name="thesis_title" rows="3"></textarea>
          </div>
          <div class="mb-5">
            <label for="thesisAbstract" class="form-label">Thesis Abstract</label>
            <textarea class="form-control" id="thesisAbstract" name="thesis_abstract" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ messages[0] }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endwith %}
        

        <div class="row">
          <div class="col-md-6">
            <form id="thesisForm" method="POST" action="/" action="/view-all">
              <div class="mb-3">
                <label for="searchQuery" class="form-label ">Search</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="searchQuery" name="search_query">
                  <button type="submit" class="btn btn-primary mr-1">Search</button>
                  <button type="button" class="btn btn-warning mr-1" id="toggleTableBtn" onclick="toggleTable()">Hide Table</button>
                  <button type="submit" class="btn btn-info">View All</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <table class="table mt-5" id="thesisTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Abstract</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for thesis in theses %}
              <tr>
                <th scope="row">{{ thesis.id }}</th>
                <td>{{ thesis.title }}</td>
                <td>{{ thesis.abstract }}</td>
                <td>
                  <form method="GET" action="/update/{{ thesis.id }}">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </form>
                  <h1></h1>
                  <form method="POST" action="/delete/{{ thesis.id }}" onsubmit="return confirm('Are you sure you want to delete this thesis?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>     
        <script>
          function toggleTable() {
            var table = document.getElementById("thesisTable");
            table.classList.toggle("d-none");
          }
        </script>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
